html {
  background-image: url("./img/ethan-robertson-SYx3UCHZJlo-unsplash.jpg");
  background-size: cover;
  font-family: 'helvetica neue';
  text-align: center;
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 2rem;
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
}

.clock {
  width: 300px;
  height: 300px;
  border: 10px solid yellow;
  border-radius: 50%;
  margin: 50px auto;
  position: relative;
  padding: 50px;  
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px); /* account for the height of the clock hands */
}

.hand {
  width: 50%;
  height: 5px;
  background: white;
  position: absolute;
  top: 50%;
  transform: rotate(90deg);
  transform-origin: 100%;
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.dateText {
  width: 100px;
  height: 20px;
  border: 5px solid black;
  border-radius: 0%;
  margin: 50px auto;
  /* position: absolute; */
  padding: 50px; 
  display: flex;
  text-align: center;
}

